version: '3.8'

services:
  flibusta_bot:
    # Имя контейнера
    container_name: flibusta-base-bot
    # Собираем образ из Dockerfile в текущей папке
    build: .
    restart: always

    env_file:
      - .env
    
    # Команда для запуска (та же, что и в Dockerfile)
    command: ["python", "Flibusta_bot.py"]
    
    volumes:
      - E:/Books/fb2.Flibusta.Net:/app/books:ro 
      - E:/Books/fb2.Flibusta.Net/flibusta_fb2_local.inpx:/app/books/flibusta_fb2_local.inpx
      - E:/Books/BotsTG/reader_data.db:/app/data/reader_data.db
      - E:/Books/BotsTG/downloads:/app/data/downloads    
      - ./log/Log_FlibustaBase_bot.log:/app/log/Log_FlibustaBase_bot.log
      - ./data/pending_users_flibusta.json:/app/data/pending_users_flibusta.json
      - ./data/users_flibusta.json:/app/data/users_flibusta.json



